<div class="edit-panel-options">
    <button type="button" class="btn btn-outline-dark editPanelOptionButton">Print</button>
    <button type="button" class="btn btn-outline-dark editPanelOptionButton">Load</button>
    <button type="button" class="btn btn-outline-dark editPanelOptionButton">Add</button>
    <button type="button" class="btn btn-outline-dark editPanelOptionButton">Delete</button>
    <button type="button" class="btn btn-outline-dark editPanelOptionButton">Edit</button>
    <button type="button" class="btn btn-outline-dark editPanelOptionButton">Save</button>
    <button type="button" class="btn btn-outline-dark editPanelOptionButton">Run</button>
</div>