<div class="edit-panel-options">
    <button type="button" class="btn btn-outline-dark">Print</button>
    <button type="button" class="btn btn-outline-dark">Load</button>
    <button type="button" class="btn btn-outline-dark">Add</button>
    <button type="button" class="btn btn-outline-dark">Delete</button>
    <button type="button" class="btn btn-outline-dark">Edit</button>
    <button type="button" class="btn btn-outline-dark">Save</button>
    <button type="button" class="btn btn-outline-dark">Run</button>
</div>