<div class="container">
    <form class="form-inline">
        <div class="form-group">

            <label class="sr-only" for="test-case">Enter Desired Test Case</label>
            <input type="text" class="form-control" id="test-case" name="case-info" placeholder="Test Case Name">

            <label class="sr-only" for="test-code">Enter Desired Test Code</label>
            <input type="number" class="form-control" id="test-code" name="case-info" placeholder="Test Input Number">

        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
</div>