<!DOCTYPE html>
<html lang="en">

{% include 'header.html'%}

<body>

    <div class="main-container">

        <div class="outer left-panel">
            <div class="inner one">
                Results
            </div>
            <div class="inner two">
                <div class="selection-panel">
                    <div class="btn-group btn-group-toggle selection-panel" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Devices
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Test Cases
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="option3" autocomplete="off"> Saved Results
                        </label>
                    </div>
                </div>
                <div class="edit-panel">
                    
                    <div class="edit-panel-options">
                    <button type="button" class="btn btn-outline-dark">Print</button>
                    <button type="button" class="btn btn-outline-dark">Load</button>
                    <button type="button" class="btn btn-outline-dark">Add</button>
                    <button type="button" class="btn btn-outline-dark">Delete</button>
                    <button type="button" class="btn btn-outline-dark">Edit</button>
                    <button type="button" class="btn btn-outline-dark">Save</button>
                    {# <button type="button" class="btn btn-outline-dark">Run</button> #}
                    </div>

                    <div class="advanced-edit-panel-options">
                    

                    </div>

                </div>
            </div>
        </div>

        <div class="outer right-panel display-lists">
            Lists of Devices/Test Cases/Etc

        </div>

    </div>

</body>

</html>