<!DOCTYPE html>
<html lang="en">

{% include 'header.html'%}

<body>
    <div class="main-container">
        <div class="outer left-panel">
            <div class="inner one">
                Results
            </div>
            <div class="inner two">
                <div class="selection-panel">
                    {% include 'selectionPanel.html' %}
                </div>
                <div class="edit-panel">
                    {% include 'editPanelOptions.html' %}
                    <div class="advanced-edit-panel-options">
                        {# {% include 'form.html' %} #}
                    </div>
                </div>
            </div>
        </div>
        <div class="outer right-panel display-lists">
            {% include 'right_panel.html' %}
        </div>
    </div>
</body>

</html>