{% set cardGroup %}

<div class="card text-white mb-3" style="max-width: 100%;">
    <div class="card-header">Devices</div>
    <div class="card-body">
    </div>
</div>

<div class="card text-white mb-3" style="max-width: 100%;">
    <div class="card-header">Test Cases</div>
    <div class="card-body">
    </div>
</div>

<div class="card text-white mb-3" style="max-width: 100%;">
    <div class="card-header">Traffic Generation Needs</div>
    <div class="card-body">
    </div>
</div>

{% endset %}





<div class="pane side-panel left-panel">
    <!-- Edit Buttons: Add, Delete, Edit -->

    <div class="upper-pane card-group">
        <!-- Upper pane: upper half of the split side-pane-->
        {{ cardGroup }}

    </div>

    <div class="lower-pane-left">
        <!-- Lower pane: lower half of the split side-pane-->
        <div class="temp-container">
            <!-- <ul>
                <li>Information for adding Devices</li>
                <li>Information for adding Test Cases</li>
                <li>Traffic Generation Needs</li>
            </ul> -->
        </div>
    </div>

</div>