{% set cardGroup %}
    
    <div class="card text-white bg-success mb-3" style="max-width: 100%;">
        <div class="card-header">Devices</div>
        <div class="card-body">
        </div>
    </div>

    <div class="card text-white bg-success mb-3" style="max-width: 100%;">
        <div class="card-header">Test Cases</div>
        <div class="card-body">
        </div>
    </div>

    <div class="card text-white bg-success mb-3" style="max-width: 100%;">
        <div class="card-header">Review Results</div>
        <div class="card-body">
        </div>
    </div>
{% endset %}





<div class="pane side-panel left-panel">
    <!-- Edit Buttons: Add, Delete, Edit -->

    <div class="upper-pane card-group">
        <!-- Upper pane: upper half of the split side-pane-->
        {{ cardGroup }}

    </div>

    <div class="lower-pane">
        <!-- Lower pane: lower half of the split side-pane-->
        Lower Div

    </div>

</div>