<div class="btn-group btn-group-toggle selection-panel" data-toggle="buttons">
    <label class="btn btn-secondary selectionPanelButton device-button">Devices
        <input class="btnLabel" type="radio" name="options" id="option1" autocomplete="off" checked> 
    </label>
    <label class="btn btn-secondary selectionPanelButton test-case-button">Test Cases
        <input class="btnLabel" type="radio" name="options" id="option2" autocomplete="off"> 
    </label>
    <label class="btn btn-secondary selectionPanelButton saved-results-button">Saved Results
        <input class="btnLabel" type="radio" name="options" id="option3" autocomplete="off"> 
    </label>
</div>