<div class="btn-group btn-group-toggle selection-panel" data-toggle="buttons">
    <label class="btn btn-secondary selectionPanelButton">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Devices
    </label>
    <label class="btn btn-secondary selectionPanelButton">
        <input type="radio" name="options" id="option2" autocomplete="off"> Test Cases
    </label>
    <label class="btn btn-secondary selectionPanelButton">
        <input type="radio" name="options" id="option3" autocomplete="off"> Saved Results
    </label>
</div>